<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <meta charset="UTF-8" />
    <title>Learning Spring Boot: Spring-a-Gram</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css" />
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <h1>Learning Spring Boot - 2nd Edition</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="image : ${images}">
            <td th:text="${image.id}" />
            <td th:text="${image.name}" />
            <td>
              <a th:href="@{'/images/' + ${image.name} + '/raw'}">
                <img
                  class="img-fluid img-thumbnail"
                  th:src="@{'/images/'+${image.name}+'/raw'}"
                />
              </a>
            </td>
            <td>
              <form
                th:method="delete"
                th:action="@{'/images/' + ${image.name}}"
              >
                <button class="btn btn-primary" type="submit" th:value="Delete">
                  delete
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>

      <form
        th:action="@{'/images'}"
        th:method="post"
        enctype="multipart/form-data"
      >
        <p><input class="input-group-prepend" type="file" name="file" /></p>
        <p>
          <button class="btn btn-secondary" type="submit" th:value="Upload">
            Upload
          </button>
        </p>
      </form>
    </div>
  </body>
</html>
